<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd  
    http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd  http://www.springframework.org/schema/task  
    http://www.springframework.org/schema/task/spring-task-4.2.xsd">

	<import resource="classpath:rabbitmq.xml" />


	<rabbit:connection-factory id="rabbitConnectionFactory"
		host="${rabbitmq.host}" username="${rabbitmq.username}" password="${rabbitmq.password}"
		port="${rabbitmq.port}" virtual-host="${rabbitmq.vhost}"
		channel-cache-size="6" publisher-confirms="true" />


	<!-- rabbit:admin用于管理（创建和删除） exchanges, queues and bindings等 -->
	<rabbit:admin connection-factory="rabbitConnectionFactory"
		id="rabbitAdmin" />

	<!-- 180秒 -->
	<rabbit:template id="amqpTemplate" reply-timeout="1000"
		connection-factory="rabbitConnectionFactory" confirm-callback="confirmCallBackListener"
		return-callback="returnCallBackListener" mandatory="true" />

	<rabbit:listener-container
		connection-factory="rabbitConnectionFactory" acknowledge="manual">
		<rabbit:listener queues="StationCfg_dps" ref="stationCfgConsumer" />
		<rabbit:listener queues="AuditRule" ref="auditRuleConsumer" />
	</rabbit:listener-container>


	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zeei.das.*.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<bean id="t2011DataConsumer" class="com.zeei.das.dps.mq.DataConsumerPush">
		<constructor-arg name="name" value="T2011"></constructor-arg>
	</bean>

	<bean id="t2051DataConsumer" class="com.zeei.das.dps.mq.DataConsumerPush">
		<constructor-arg name="name" value="T2051"></constructor-arg>
	</bean>

	<bean id="t2061DataConsumer" class="com.zeei.das.dps.mq.DataConsumerPush">
		<constructor-arg name="name" value="T2061"></constructor-arg>
	</bean>

	<bean id="t2031DataConsumer" class="com.zeei.das.dps.mq.DataConsumerPush">
		<constructor-arg name="name" value="T2031"></constructor-arg>
	</bean>

	<bean id="tlatestDataConsumer" class="com.zeei.das.dps.mq.DataLatestConsumer">
		<constructor-arg name="name" value="TLatest"></constructor-arg>
	</bean>

	<rabbit:listener-container
		connection-factory="rabbitConnectionFactory" acknowledge="manual"
		prefetch="2500">
		<rabbit:listener queues="T2011" ref="t2011DataConsumer" />
		<rabbit:listener queues="T2031" ref="t2031DataConsumer" />
		<rabbit:listener queues="T2051" ref="t2051DataConsumer" />
		<rabbit:listener queues="T2061" ref="t2061DataConsumer" />
		<rabbit:listener queues="TLatest" ref="tlatestDataConsumer" />
	</rabbit:listener-container>

</beans>  