<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zeei.das.dps.dao.PointSystemDAO">
	<resultMap id="PointSystemMap" type="PointSystemVO">
		<result column="SYSTEMTYPE" property="systemType" jdbcType="VARCHAR" />
		<result column="SYSNAME" property="systemName" jdbcType="VARCHAR" />
		<result column="TNAMERT" property="realtimeTable" jdbcType="VARCHAR" />
		<result column="TNAMEMI" property="minuteTable" jdbcType="VARCHAR" />
		<result column="TNAMEHH" property="hourTable" jdbcType="VARCHAR" />
		<result column="TNAMEDD" property="dayTable" jdbcType="VARCHAR" />
		<result column="SNAME" property="stationName" jdbcType="VARCHAR" />
		<result column="PNAME" property="pointName" jdbcType="VARCHAR" />
	</resultMap>

	<select id="queryPointSystemBySystype" parameterType="String"
		resultType="com.zeei.das.dps.vo.PointSystemVO">
		SELECT
		SYSTEMTYPE AS systemType,
		SYSNAME AS systemName,
		TNAMERT AS realtimeTable,
		TNAMEMI AS minuteTable,
		TNAMEHH AS hourTable,
		TNAMEDD AS dayTable,
		SNAME AS stationName,
		PNAME AS pointName
		FROM
		T_DIC_POINTSYSTYPE
		<where>
			SYSTEMTYPE=#{systype}
		</where>
	</select>

	<select id="getPointSystemList" resultType="com.zeei.das.dps.vo.PointSystemVO">
		SELECT
		SYSTEMTYPE AS systemType,
		SYSNAME AS systemName,
		TNAMERT AS realtimeTable,
		TNAMEMI AS minuteTable,
		TNAMEHH AS hourTable,
		TNAMEDD AS dayTable,
		SNAME AS stationName,
		PNAME AS pointName
		FROM
		T_DIC_POINTSYSTYPE
	</select>

</mapper>